<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        
        <% include ../parts/meta %>
        <% include ../parts/styles %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/editor.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/codemirror.min.css">
    </head>
    
    <body>
        <div class="main-layout">
            <header>
                <% include ../parts/nav %>
            </header>

            <main>
                <section>
