</main>

<% include ../parts/admin-menu %>

<footer>
    <small>Copyrights and notes</small>
</footer>
</div>
</body>
<script type="text/javascript" src="/javascripts/main-layout.js"></script>    
</html>
