</section>
</main>

<% include ../parts/admin-menu %>

<footer>
    <small>Copyrights and notes</small>
</footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/codemirror.min.js"></script>
<script src="/javascripts/editor.js"></script>
<script type="text/javascript" src="/javascripts/main-layout.js"></script>
<script type="text/javascript" src="/javascripts/admin-menu.js"></script>
</body>  
</html>
