<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        
        <% include ../parts/meta %>
        <% include ../parts/styles %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/table.css">
    </head>
    
    <body>
        <div class="main-layout">
            <header>
                <% include ../parts/nav %>
            </header>

            <main>
                <section>