<aside>
    <ul>
        <li>
            <a href="dashboard.html">
                <i class="fas fa-tachometer-alt"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a href="pages.html">
                <i class="fas fa-file"></i>
                Pages
            </a>
        </li>
        <li>
            <a href="users.html">
            <i class="fas fa-users"></i>
            Users
            </a>
        </li>
        <li>
            <a href="settings.html">
            <i class="fas fa-cog"></i>
            Settings
            </a>
        </li>
    </ul>
</aside>