<template id="message-template">
    <div class="container">
        <p>Hey! I'm fine. Thanks for asking!</p>
        <span>11:01</span>
      </div>
</template>

<div class="chat-container">
    <input type="color" id="colorpicker" tabindex=-1 class="hidden">
    <button class="chat-button">Live chat</button>
    <div class="chat-box">
        <div class="chat-toolbar">
            <ul>
                <li>
                    <a id="chat-users-list">
                        <i class="fas fa-user-alt"></i>
                    </a>
                </li>
                <li>
                    <a id="chat-settings">
                        <i class="fas fa-cog"></i>
                    </a>
                </li>
                <li>
                    <a id="chat-minimize">
                        <i class="fas fa-window-minimize"></i>
                    </a>        
                </li>
                <li>
                    <a id="chat-close">
                        <i class="fas fa-times"></i>
                    </a>        
                </li>
            </ul>
        </div>

        <div class="chat-content">
        </div>

        <div class="chat-input">
            <input id="chat-message-box" type="text" placeholder="Type your message..." />
            <button id="chat-emoji-button"><i class="fas fa-smile-beam"></i></button>
            <button id="chat-send-button"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
</div>

<script src="/javascripts/emoji-button-3.0.3.min.js"></script>
<script src="/javascripts/chat.js"></script>