<nav>
    <div class="logo">
        <%- logoText %>
    </div>
    <ul>
        <% if (hasAsideMenu) { %>        
        <li class="activate-aside">
            <a>
                <i class="fas fa-bars"></i>
                <div>Menu</div>
            </a>
        </li>
        <% } %>
        
        <% navButtons.forEach(button => { %>
        <li>
            <a href="<%= button.href %>">
                <i class="<%= button.icon %>"></i>
                <div><%= button.label %></div>
            </a>        
        </li>
        <% }); %>
        <li id="logged-in" class="user-info">
            <div>
            <label></label>
            <button id="sign-out"><i class="fas fa-sign-out-alt"></i>Sign out</button>
            </div>
        </li>
        <li id="anonymous" class="user-info">
            <div>
            <button id="goto-register"><i class="fas fa-sign-out-alt"></i>Register</button>
            <button id="goto-sign-in"><i class="fas fa-sign-out-alt"></i>Sign in</button>
            </div>
        </li>
    </ul>
</nav>