<nav>
    <div class="logo">
        <%- logoText %>
    </div>
    <ul>
        <% if (hasAsideMenu) { %>        
        <li class="activate-aside">
            <a>
                <i class="fas fa-bars"></i>
                <div>Menu</div>
            </a>
        </li>
        <% } %>
        
        <% navButtons.forEach(button => { %>
        <li>
            <a href="<%= button.href %>">
                <i class="<%= button.icon %>"></i>
                <div><%= button.label %></div>
            </a>        
        </li>
        <% }); %>
    </ul>
</nav>