<nav>
    <div class="logo">
        <strong><%= logoText %></strong>
    </div>
    <ul>
        <% if (hasAsideMenu) { %>        
        <li class="activate-aside">
            <a>
                <i class="fas fa-bars"></i>
                <label>Menu</label>
            </a>
        </li>
        <% } %>
        
        <% navButtons.forEach(button => { %>
        <li>
            <a href="<%= button.href %>">
                <i class="<%= button.icon %>"></i>
                <label><%= button.label %></label>
            </a>        
        </li>
        <% }); %>
    </ul>
    <div class="search">
        <i class="fas fa-search"></i>
    </div>
</nav>