<div class="box">
    <label>Register</label>
    <label class="error">Username or email already taken.</label>
    <div>
        <form id="register">
            <input id="name-field" type="text" placeholder="Username">
            <input id="email-field" type="email" placeholder="Email">
            <input id="password-field" type="password" placeholder="Password">
            <input id="repeat-password-field" type="password" placeholder="Type password again">

            <div class="inline-block">
                <div class="inline">
                    <input type="radio" id="user-class-field" name="userClass" value="Engineer">
                    Engineer
                </div>
                <div class="inline">
                    <input type="radio" id="user-class-field" name="userClass" value="Entrepreneur">
                    Entrepreneur
                </div>
                <div class="inline">
                    <input type="radio" id="user-class-field" name="userClass" value="Other">
                    Other
                </div>
            </div>

            <input id="age-field" type="number" placeholder="Age">

            <button id="register-button" type="submit">Register</button>
        </form>
    </div>
</div>