<div class="box">
    <label>Sign in</label>
    <label class="error">Username or password is incorrect.</label>
    <div>
        <form id="signin">
            <input id="name-field" type="text" placeholder="Username">
            <input id="password-field" type="password" placeholder="Password">
            <button id="signin-button" type="submit">Sign in</button>
        </form>
    </div>
</div>