<div class="box">
    <header>Sign in</header>
    <section>
        <form>
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <button type="submit">Sign in</button>
        </form>
    </section>
</div>