:root {
    --background-color: rgb(255, 255, 255);
    --background-color-alt: rgb(217, 217, 217);
    --light-gray: rgb(230, 230, 230);
    --dark-gray: rgb(91, 91, 91);
    --main-color: rgb(166, 166, 166);
    --accent-color: rgb(27, 27, 27);

    --accent-color-transparent: rgb(27, 27, 27, 0.2);
    --light-gray-transparent: rgb(230, 230, 230, 0.4);
    --dark-gray-transparent: rgb(91, 91, 91, 0.4);
    
    --nav-button-spacing: 1.5em;
    --nav-button-spacing-opposite: -1.5em;
    
    --shadow-radius: 0.2em;
    --shadow-radius-opposite: -0.2em;
    --shadow-size: 0.2em;

    --font-family: 'Anton', sans-serif;
    --font-size: 1.5vw;
    --font-size-header: 1.25vw;

    --content-sides-padding: 12em;
}

.flexible {
    display: flex;
}

@media only screen and (max-width: 1000px) {
    :root {
        --font-size: 2.88vw;
        --font-size-header: 2.4vw;

        --content-sides-padding: 6em;
    }
}

@media only screen and (max-width: 750px) {
    :root {
        --font-size: 3.84vw;
        --font-size-header: 3.2vw;
        --content-sides-padding: 1em;
    }
}

@media only screen and (max-width: 480px) {
    :root {
        --font-size: 6vw;
        --font-size-header: 4.5vw;
        --content-sides-padding: 0.2em;
    }
}

@media only screen and (max-width: 320px) {
    :root {
        --font-size: 8vw;
        --font-size-header: 4vw;
        --content-sides-padding: 0.2em;
    }
}