:root {
    --background-color: white;
    --background-color-alt: #d9d9d9;
    --light-gray: #e6e6e6;
    --dark-gray: #5b5b5b;
    --main-color: #a6a6a6;
    --accent-color: #1b1b1b;
    
    --nav-button-spacing: 1.5em;
    --nav-button-spacing-opposite: -1.5em;
    
    --shadow-radius: 0.2em;
    --shadow-radius-opposite: -0.2em;
    --shadow-size: 0.2em;
    
    --font-family: serif;
    --font-size: 1.5vw;
    --font-size-header: 1.25vw;
}

.flexible {
    display: flex;
}

@media only screen and (max-width: 1000px) {
    :root {
        --font-size: 2.88vw;
        --font-size-header: 2.4vw;
    }
}

@media only screen and (max-width: 750px) {
    :root {
        --font-size: 3.84vw;
        --font-size-header: 3.2vw;
    }
}

@media only screen and (max-width: 480px) {
    :root {
        --font-size: 6vw;
        --font-size-header: 4.5vw;
    }
}

@media only screen and (max-width: 320px) {
    :root {
        --font-size: 8vw;
        --font-size-header: 4vw;
    }
}