<html>

    <head>
        <title>Not found</title>
        
        <% include ../parts/styles %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
    </head>

<body>
<div class="main-layout">

    <header>
        <% include ../parts/nav %>
    </header>

    <main>
        <section>
            <p class="mb-5 mt-5"><b>Oops, page not found.</b></p>
        </section>
    </main>

    <footer>
        <small>Copyrights and notes</small>
    </footer>
</div>
<script type="text/javascript" src="/javascripts/main-layout.js"></script>
</body>
</html>