<% include ../parts/admin-header %>

<h1>Admin dashboard</h1>
<canvas id="visits"></canvas>
<canvas id="sections"></canvas>
<canvas id="actions"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/javascripts/charts.js"></script>

<% include ../parts/admin-footer %>