<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        
        <% include ../parts/meta %>
        <% include ../parts/styles %>
    </head>
    
    <body>
        <div class="main-layout">
            <header>
                <% include ../parts/nav %>
            </header>

            <main class="landing">
                <section id="home">
                    <div class="flex-column">
                    <h1>This is a FANCY and</h1>
                    <h1>CATCHY headline and you</h1>
                    <h1>won't forget IT</h1>
                    </div>
                    <% include ../parts/landing-animation %> 
                </section>
                <section id="projects">
                    <div class="showcase" id="showcase-1">
                        <figure>
                            <figcaption>PhotonOS</figcaption>
                            <img src="/images/photonos.png" width="100%" height="100%">
                            <label>A home-made operating system.</label>
                        </figure>

                        <figure>
                          <figcaption>SureBet Manager</figcaption>
                          <img src="/images/betmanager.png" width="100%" height="100%">
                          <label>Automated betting with 100% chance of winning.</label>
                        </figure>

                        <figure class="contributor">
                          <figcaption>Wellcode</figcaption>
                          <img src="/images/wellcode.png" width="100%" height="100%">
                          <label>Educational platform for learning programming.</label>
                        </figure>

                        <figure class="hackathon">
                          <figcaption>ForeverFamily</figcaption>
                          <img src="/images/foreverfamily.jpeg" width="100%" height="100%">
                          <label>Alzheimer's patients caring appliaction.</label>
                        </figure>

                        <figure>
                          <figcaption>ProductivityBot</figcaption>
                          <img src="/images/productivitybot.png" width="100%" height="100%">
                          <label>A messenger bot that watches you on social media and reminds you to get back to work!</label>
                        </figure>
                        
                        
                        <figure class="hackathon">
                          <figcaption>EasyBiro</figcaption>
                          <img src="/images/easybiro.jpg" width="100%" height="100%">
                          <label>Easing bureaucracy.</label>
                        </figure>
                        
                        <h2>Another TEXT that tells something</h2>
                        <h3>A short brief of nothing important</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Sed elementum diam congue felis ornare, sit amet dignissim ipsum elementum. 
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                        </p>
                    </div>

                    <div class="showcase" id="showcase-2">
                      <figure>
                        <figcaption>Firebase functions loader</figcaption>
                        <img src="/images/" width="100%" height="100%">
                        <label>Organizing your cloud functions have never been easier.</label>
                      </figure>

                      <figure>
                        <figcaption>TrafficDB</figcaption>
                        <img src="/images/" width="100%" height="100%">
                        <label>Statistics based on tcpdump output.</label>
                      </figure>

                      <figure>
                        <figcaption>Parallel unit testing</figcaption>
                        <img src="/images/" width="100%" height="100%">
                        <label>Proof of concept of how unit tests could be represended as a directed graph and ran on multiple threads.</label>
                      </figure>

                      <figure>
                        <figcaption>Generic card game library</figcaption>
                        <img src="/images/cardgame.png" width="100%" height="100%">
                        <label>Template library for implementing any card game.</label>
                      </figure>

                      <figure>
                        <figcaption>Distributed merge sort</figcaption>
                        <img src="/images/" width="100%" height="100%">
                        <label>Measuring performance of distributed merge sort vs classical version.</label>
                      </figure>

                      <figure>
                        <figcaption>Decentralized voting</figcaption>
                        <img src="/images/" width="100%" height="100%">
                        <label>Voting mechanism based on blockchain.</label>
                      </figure>

                      <figure>
                          <figcaption>C Exceptions</figcaption>
                          <img src="/images/trycatch.png" width="100%" height="100%">
                          <label>Try-Catch mechanism implemented in pure C.</label>
                      </figure>

                      <figure class="contributor">
                        <figcaption>CruceGame</figcaption>
                        <img src="/images/crucegame.png" width="100%" height="100%">
                        <label>Educational open-source project, looks like a card game, but the target was teching newcomers programming in teams.</label>
                    </figure>

                      <figure>
                          <figcaption>AsyncHTTP</figcaption>
                          <img src="/images/asynchttp.png" width="100%" height="100%">
                          <label>Asynchronous HTTP server.</label>
                      </figure>
                    <div>
                </section>
                <section id="about">
                    <h2>Know nothing important about ME!</h2>
                    <h3>More irrelevant information</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Sed elementum diam congue felis ornare, sit amet dignissim ipsum elementum. 
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                        <div class="timeline">
                            <div class="timeline__group">
                              <span class="timeline__year">2008</span>
                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">2</span>
                                  <span class="timeline__month">Feb</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>Attends the Philadelphia Museum School of Industrial Art. Studies design with Alexey Brodovitch, art director at Harper's Bazaar, and works as his assistant.</p>
                                  </div>
                                </div>
                              </div>
                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">1</span>
                                  <span class="timeline__month">Sept</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>Started from University of Pennsylvania. This is an important stage of my career. Here I worked in the local magazine. The experience greatly affected me</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="timeline__group">
                              <span class="timeline__year">2014</span>
                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">14</span>
                                  <span class="timeline__month">Jul</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>Travels to France, Italy, Spain, and Peru. After completing fashion editorial in Lima, prolongs stay to make portraits of local people in a daylight studio</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="timeline__group">
                              <span class="timeline__year">2016</span>
                              <div class="timeline__box">
                                <div class="timeline__date">
                                  <span class="timeline__day">28</span>
                                  <span class="timeline__month">Aug</span>
                                </div>
                                <div class="timeline__post">
                                  <div class="timeline__content">
                                    <p>Upon moving to Brooklyn that summer, I began photographing weddings in Chicago</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>       

                    <div class="social">
                        <i class="fab fa-linkedin"></i>
                        <i class="fab fa-github-square"></i>
                        <i class="fab fa-google-plus-square"></i>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                </section>
            </main>

            <!--
            <aside>
                <strong>This would be a side menu</strong>
            </aside>
            -->

            <footer>
                <small>Copyrights and notes</small>
            </footer>
        </div>
    </body>
</html>