<% include ../parts/admin-editor-header %>

<template id="page-option">
    <option value="page id">Page name</option>
</template>

<h1>Pages editor</h1>

<!-- TODO: implement page creation/deletion -->
<div class="pages-editor">

    <div id="editor-menu">
        <label>Pages:</label>
        <select id="editor-select">
        </select>
        <i class="fas fa-minus-circle"></i>
        <input type="text" placeholder="New page name">
        <i class="fas fa-plus-circle"></i>
    </div>

    <textarea id="editor-area"></textarea>
</div>

<% include ../parts/admin-footer %>