<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <% include ../parts/styles %>
    </head>
    
    <body>
        <div class="main-layout">
            <header>
                <% include ../parts/nav %>
            </header>

            <main>
                <% include ../parts/lorem-ipsum  %>
            </main>

            <!--
            <aside>
                <strong>This would be a side menu</strong>
            </aside>
            -->

            <footer>
                <small>Copyrights and notes</small>
            </footer>
        </div>
    </body>
</html>